/_darcs
/autoscan.log
/wibble
Makefile
Makefile.in
aclocal.m4
.deps
.libs
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.la
*.lo
*.o
