stamp-h1
missing
ltmain.sh
libtool
install-sh
depcomp
configure
config.sub
config.status
config.log
config.h.in~
config.h.in
config.h
config.guess
autom4te.cache
aclocal.m4
Makefile.in
Makefile
/wibble.tar.gz
/wibble
/public/lib
/public/arkiweb/templates/*.js
/public/arkiweb/config.js
/cgicc
/cgi-bin/summary
/cgi-bin/fields
/cgi-bin/datasets
/cgi-bin/data
/autoscan.log
/arkiweb/arkiweb-test
/arkiweb-*.tar.gz
/_darcs
/README.html
.libs
.deps
*.o
*.lo
*.la
