body {
	font-family: 'Arial', sans-serif;
	font-size: 0.7em;
}

.arkiweb .menu {
	text-align: center;
}

.arkiweb .title {
	text-align: center;
}

.arkiweb .datasets-list {
}

.arkiweb .datasets-list div[allowed="false"] {
	color: silver;
}

.arkiweb .datasets-list .name {
	margin: 0 1em;
	text-decoration: underline;
	cursor: pointer;
}

.arkiweb .datasets-list .description {
	font-style: italic;
}

.arkiweb-description dt {
	font-weight: bold;
}

.arkiweb .field-section {
	padding: 1em;
	border-bottom: thin solid silver;
}

.arkiweb .field-section h3 {
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}
