.arkiweb {
	font-family: 'Arial', sans-serif;
	font-size: 0.9em;
}

.arkiweb-datasets-selection-list .dataset-not-allowed {
	color: silver;
}

.arkiweb-dataset-name {
	cursor: pointer;
	font-weight: bold;
}	

.arkiweb .error {
	color: red;
	font-weight: bold;
}

.arkiweb .hidden, .arkiweb-summary .hidden {
	display: none;
}

.arkiweb .arkiweb-fields-selection-section {
	border-bottom: 1px solid silver;
}

.arkiweb .arkiweb-fields-selection-section h3 {
	text-decoration: underline;
	cursor: pointer;
}

.arkiweb-summary {
	font-size: 0.7em;
}
.arkiweb-dataset-description-dialog {
	font-size: 0.7em;
}

.arkiweb-postprocessor-item {
	border-bottom: 1px solid silver;
	padding: 0.5em;
}
.arkiweb-postprocessor-item-header {
	margin: 0.2em;
}
.arkiweb-postprocessor-name {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}
.ui-datepicker {
	font-size: 0.9em;
}
