.arkiweb {
	font-family: 'Arial', sans-serif;
	font-size: 0.7em;
}

.arkiweb-datasets-selection-list *[allowed=false] {
	color: silver;
}

.arkiweb-dataset-name {
	font-weight: bold;
}	

.arkiweb .error {
	color: red;
	font-weight: bold;
}

.arkiweb .hidden {
	display: none;
}

.arkiweb .arkiweb-fields-selection-section {
	border-bottom: 1px solid silver;
}

.arkiweb .arkiweb-fields-selection-section h3 {
	text-decoration: underline;
	cursor: pointer;
}
