body {
	font-family: sans-serif;
	font-size: small;
	height: 100%;
	margin: 0;
}

#header, #footer {
	background-color: #E8EFEF;
	text-align: center;
	font-size: large;
}

.error {
	display: block;
	color: white;
	font-weight: bold;
	background-color: red;
	text-align: center;
}

.disabled {
	color: silver;
}

.hidden {
	display: none;
}

.arkiweb-section.loading .arkiweb-content {
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 30px;
}
.arkiweb-section {
	border-bottom: thin solid #E8EFEF;
	background-color: white;
	/*background: #E8EFEF;*/
}

.arkiweb-title {
	font-weight: bold;
	font-size: small;
	text-align: center;
	margin: 0;
	padding: 0 1%;
}

.arkiweb-menu {
	padding: 1% 1%;
	text-align: center;
}

.arkiweb-menu .arkiweb-menu-choice {
	cursor: pointer;
	text-decoration: underline;
	margin: 0 0.5em;
	padding: 0;
}

.arkiweb-content {
	padding: 0;
	background-color: white;
}

#arkiweb-datasets {
	float: left;
	width: 50%;
	height: 90%;
}

#toggle-not-allowed-datasets.active {
	font-style: italic;
}

#arkiweb-datasets-content {
	height: 92%;
	overflow: auto;
}

.arkiweb-datasets-item {
	padding: 1%;
	border-bottom: 1px solid silver;
}

.arkiweb-datasets-item .more-info {
	cursor: pointer;
	text-decoration: underline;
	padding: 0 1em;
	font-size: 0.8em;
	float: right;
}

.arkiweb-datasets-item-title {
	padding: 0;
	margin: 0 0.5em 0 0;
}

.allowed .arkiweb-datasets-item-title {
	font-weight: bold;
}

.arkiweb-datasets-item-description {
	padding: 0;
	margin: 0;
	font-style: italic;
}

#arkiweb-map, #arkiweb-postprocess {
	width: 49%;
	height: 45%;
	float: right;
}
#arkiweb-map-content {
	height: 100%;
}

#arkiweb-fields {
	float: left;
	height: 90%;
	width: 50%;
}

#arkiweb-fields-content {
	height: 90%;
	overflow: auto;
}

.arkiweb-fields-item {
	border-bottom: thin solid silver;
}

.arkiweb-fields-item-title {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 1%;
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

.arkiweb-fields-item-value {
	padding: 0.5% 1% 0.5% 0;
	padding-left: 2em;
	text-indent: -1.5em;
}

.arkiweb-fields-item-value-code {
	font-family: monospace;
}

#arkiweb-summary-content dt {
	font-weight: bold;
}

.arkiweb-summary-item-value-code {
	font-family: monospace;
}

#arkiweb-extendedSummary-content table {
	font-size: small;
	border-collapse: collapse;
}
#arkiweb-extendedSummary-content table tr {
	border: thin solid #E8EFEF;
}
#arkiweb-extendedSummary-content table th {
	text-align: center;
	background-color: #E8EFEF;
}
#arkiweb-extendedSummary-content table td {
	border: thin solid #E8EFEF;
	padding: 0.5em;
}
