body {
	font-family: sans-serif;
	font-size: 0.8em;
}

.arkiweb-container {
	padding: 1em;
}

.arkiweb-menu {
	text-align: center;
}

.arkiweb-menu > span {
	text-decoration: underline;
	cursor: pointer;
}

.arkiweb-menu > .arkiweb-menu-title {
	font-size: 1.3em;
}

#arkiweb-dataset-container, #arkiweb-summary-container {
	float: left;
	width: 58%;
	height: 80%;
	/*overflow: auto;*/
}

#arkiweb-dataset-container-content, #arkiweb-summary-fields {
	height: 80%;
	overflow: auto;
}

#arkiweb-dataset-container .arkiweb-menu {
	height: 10%;
}

#arkiweb-map-container {
	float: right;
	width: 37%;
	height: 50%;
}

.arkiweb-dataset-item-title {
	font-weight: bold;
	margin-right: 0.5em;
}

.arkiweb-dataset-item-description {
	font-size: 0.9em;
	font-style: italic;
}
.arkiweb-dataset-item-allowed {
	color: green;
}
.arkiweb-dataset-item-notallowed {
	color: red;
}
.loading {
	min-height: 30%;
	background-color: silver;
}

#arkiweb-summary-fields h1 {
	font-size: 1.1em;
}

#arkiweb-summary-fields h1 {
	padding: 0.5em;
	background: #FECA40;
	cursor: pointer;
	text-align: center;
}
#arkiweb-summary-query {
	font-family: monospace;
	font-size: 1.1em;
	padding: 1em;
}

